<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily Report</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: center;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>

    <h2>Daily Report</h2>
    <table>
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th>계획</th>
                <th>실적</th>
                <th>계획대비</th>
                <th>계획</th>
                <th>MTD 계획</th>
                <th>실적</th>
                <th>계획대비</th>
                <th>계획</th>
                <th>YTD 계획</th>
                <th>실적</th>
                <th>계획대비</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>도시가스</td>
                <td>구매량</td>
                <td>천㎥</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>광명</td>
                <td>전기 (직판)</td>
                <td>MWh</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>광명</td>
                <td>열 (지구내)</td>
                <td>Gcal</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
        </tbody>
    </table>

</body>
</html>
