{% extends "base_generic.html" %}


{% block page_name %}
외식 일일보고
{% endblock %}


{% block content %}
<div class="small">
<table class="table table-bordered table-sm ">
    <thead class="text-center table-dark align-middle bg-primary">
        <tr>
            <th colspan="3" rowspan="3" class="text-center">구분</th>
            <th colspan="3">Daily</th>
            <th colspan="4">Monthly</th>
            <th colspan="4">Yearly</th>
        </tr>
        <tr>
          <th rowspan="2">계획</th>
          <th rowspan="2">실적</th>
          <th rowspan="2">계획대비</th>
          <th rowspan="2">계획</th>
          <th colspan="3">MTD</th>
          <th rowspan="2">계획</th>
          <th colspan="3">YTD</th>
        </tr>
        <tr>
          <th>계획</th>
          <th>실적</th>
          <th>계획대비</th>
          <th>계획</th>
          <th>실적</th>
          <th>계획대비</th>
        </tr>
    </thead>
    <tbody class="text-center align-middle">
        <tr>
          <td rowspan="5">SL&C<br>매출</td>
          <td>Chai797</td>
          <td rowspan="5">백만원</td>
          <td>{{d_b_c_sum}}</td>
          <td>{{d_a_c_sum}}</td>
          <td>{{ d_c_per|floatformat:1 }}%</td>
          <td></td>
          <td>{{m_b_c_sum}}</td>
          <td>{{m_a_c_sum}}</td>
          <td>{{ m_c_per|floatformat:1 }}%</td>
          <td></td>          
          <td>{{y_b_c_sum}}</td>
          <td>{{y_a_c_sum}}</td>
          <td>{{ y_c_per|floatformat:1 }}%</td>
        </tr>
        <tr>
          
          <td>정육점</td>
           
          <td>{{d_b_j_sum}}</td>
          <td>{{d_a_j_sum}}</td>
          <td>{{ d_j_per|floatformat:1 }}%</td>
          <td></td>
          <td>{{m_b_j_sum}}</td>
          <td>{{m_a_j_sum}}</td>
          <td>{{ m_j_per|floatformat:1 }}%</td>
          <td></td>          
          <td>{{y_b_j_sum}}</td>
          <td>{{y_a_j_sum}}</td>
          <td>{{ y_j_per|floatformat:1 }}%</td>
        </tr>
        </tr>
        <tr>
          
          <td>서리재</td>
           
          <td>{{d_b_s_sum}}</td>
          <td>{{d_a_s_sum}}</td>
          <td>{{ d_s_per|floatformat:1 }}%</td>
          <td></td>
          <td>{{m_b_s_sum}}</td>
          <td>{{m_a_s_sum}}</td>
          <td>{{ m_s_per|floatformat:1 }}%</td>
          <td></td>          
          <td>{{y_b_s_sum}}</td>
          <td>{{y_a_s_sum}}</td>
          <td>{{ y_s_per|floatformat:1 }}%</td>
        </tr>
        <tr>
          
          <td>호우섬</td>
           
          <td>{{d_b_h_sum}}</td>
          <td>{{d_a_h_sum}}</td>
          <td>{{ d_h_per|floatformat:1 }}%</td>
          <td></td>
          <td>{{m_b_h_sum}}</td>
          <td>{{m_a_h_sum}}</td>
          <td>{{ m_h_per|floatformat:1 }}%</td>
          <td></td>          
          <td>{{y_b_h_sum}}</td>
          <td>{{y_a_h_sum}}</td>
          <td>{{ y_h_per|floatformat:1 }}%</td>
        </tr>
        <tr>
          
          <td>일식</td>
           
          <td>{{d_b_i_sum}}</td>
          <td>{{d_a_i_sum}}</td>
          <td>{{ d_i_per|floatformat:1 }}%</td>
          <td></td>
          <td>{{m_b_i_sum}}</td>
          <td>{{m_a_i_sum}}</td>
          <td>{{ m_i_per|floatformat:1 }}%</td>
          <td></td>          
          <td>{{y_b_i_sum}}</td>
          <td>{{y_a_i_sum}}</td>
          <td>{{ y_i_per|floatformat:1 }}%</td>
        </tr>


        <tr class="table-light">
            <td colspan="3">소계</td>
  
            
            <td>{{d_b_d_sum}}</td>
            <td>{{d_a_d_sum}}</td>
            <td>{{ d_d_per|floatformat:1 }}%</td>
            <td></td>
            <td>{{m_b_d_sum}}</td>
            <td>{{m_a_d_sum}}</td>
            <td>{{ m_d_per|floatformat:1 }}%</td>
            <td></td>          
            <td>{{y_b_d_sum}}</td>
            <td>{{y_a_d_sum}}</td>
            <td>{{ y_d_per|floatformat:1 }}%</td>
          </tr>
          
    </tbody>
</table>
</div>

  

{% endblock %}

{% block script %}
<script>
    $(document).ready(function() {
        $('#master_table').DataTable( {
            "searching":   false,
            "ordering": false,
            "paging":   false,
            "info":     false,
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.11.3/i18n/ko.json"
            }
        } );
    } );
</script>
{% endblock %}  