{% extends "base_generic.html" %}


{% block page_name %}
삼천리EV 일일보고
{% endblock %}


{% block content %}

<div>
  chart here.
  <canvas id="myChart"></canvas>
</div>

<table class="table table-bordered table-sm ">
    <thead class="text-center table-dark align-middle bg-primary">
        <tr>
            <th colspan="3" rowspan="3" class="text-center">구분</th>
            <th colspan="3">Daily</th>
            <th colspan="4">Monthly</th>
            <th colspan="4">Yearly</th>
        </tr>
        <tr>
          <th rowspan="2">계획</th>
          <th rowspan="2">실적</th>
          <th rowspan="2">계획대비</th>
          <th rowspan="2">계획</th>
          <th colspan="3">MTD</th>
          <th rowspan="2">계획</th>
          <th colspan="3">YTD</th>
        </tr>
        <tr>
          <th>계획</th>
          <th>실적</th>
          <th>계획대비</th>
          <th>계획</th>
          <th>실적</th>
          <th>계획대비</th>
        </tr>
    </thead>
    <tbody class="text-center align-middle">
        <tr>
          <td>도시가스</td>
          <td>구매량</td>
          <td>천 m³</td>
          <td>17,372</td>
          <td>20,216</td>
          <td>16.4%</td>
          <td>20,216</td>
          <td>20,216</td>
          <td>20,216</td>
          <td>20,216</td>
          <td>20,216</td>
          <td>20,216</td>
          <td>20,216</td>
          <td>20,216</td>
        </tr>
        <tr>
          <td>광명</td>
          <td>전기<br>(직판)</td>
          <td>MWh</td> <!-- 단위값 누락된 경우, 확인 필요 -->
          <td>415</td>
          <td>565</td>
          <td>36.1%</td>
          <td>5월</td>
          <td>6월</td>
          <td>1월</td>
          <td>2월</td>
          <td>3월</td>
          <td>4월</td>
          <td>5월</td>
          <td>6월</td>
        </tr>
        <tr>
          <td>광명</td>
          <td rowspan="3">열<br>(지구내)</td>
          <td rowspan="3">Gcal</td>
          <td>2월</td>
          <td>3월</td>
          <td>4월</td>
          <td>5월</td>
          <td>6월</td>
          <td>1월</td>
          <td>2월</td>
          <td>3월</td>
          <td>4월</td>
          <td>5월</td>
          <td>6월</td>
        </tr>
        <tr>
          <td>휴세스</td>
 
          
          <td>2월</td>
          <td>3월</td>
          <td>4월</td>
          <td>5월</td>
          <td>6월</td>
          <td>1월</td>
          <td>2월</td>
          <td>3월</td>
          <td>4월</td>
          <td>5월</td>
          <td>6월</td>
        </tr>
        <tr>
          <td>안산</td>

          
          <td>2월</td>
          <td>3월</td>
          <td>4월</td>
          <td>5월</td>
          <td>6월</td>
          <td>1월</td>
          <td>2월</td>
          <td>3월</td>
          <td>4월</td>
          <td>5월</td>
          <td>6월</td>
        </tr>
        <tr class="table-light">
            <td colspan="3">열 소계</td>
  
            
            <td>2월</td>
            <td>3월</td>
            <td>4월</td>
            <td>5월</td>
            <td>6월</td>
            <td>1월</td>
            <td>2월</td>
            <td>3월</td>
            <td>4월</td>
            <td>5월</td>
            <td>6월</td>
          </tr>
          <tr>
            <td rowspan="3">에스파워</td>
            <td>전기</td>
            <td>MWh</td>
            <td>17,372</td>
            <td>20,216</td>
            <td>16.4%</td>
            <td>20,216</td>
            <td>20,216</td>
            <td>20,216</td>
            <td>20,216</td>
            <td>20,216</td>
            <td>20,216</td>
            <td>20,216</td>
            <td>20,216</td>
          </tr>
          <tr>
            
            <td>I/M</td>
            <td>원/kWh</td>
            <td>6.7</td>
            <td>20,216</td>
            <td>16.4%</td>
            <td>20,216</td>
            <td>20,216</td>
            <td>20,216</td>
            <td>20,216</td>
            <td>20,216</td>
            <td>20,216</td>
            <td>20,216</td>
            <td>20,216</td>
          </tr>
          <tr>
            
            <td>열생산</td>
            <td>Gcal</td>
            <td>17,372</td>
            <td>20,216</td>
            <td>16.4%</td>
            <td>20,216</td>
            <td>20,216</td>
            <td>20,216</td>
            <td>20,216</td>
            <td>20,216</td>
            <td>20,216</td>
            <td>20,216</td>
            <td>20,216</td>
          </tr>
          <tr>
            <td>청주</td>
            <td rowspan="2">스팀</td>
            <td rowspan="3">톤</td>
            <td>17,372</td>
            <td>20,216</td>
            <td>16.4%</td>
            <td>20,216</td>
            <td>20,216</td>
            <td>20,216</td>
            <td>20,216</td>
            <td>20,216</td>
            <td>20,216</td>
            <td>20,216</td>
            <td>20,216</td>
          </tr>
          <tr>
            <td>신승</td>
            

            <td>17,372</td>
            <td>20,216</td>
            <td>16.4%</td>
            <td>20,216</td>
            <td>20,216</td>
            <td>20,216</td>
            <td>20,216</td>
            <td>20,216</td>
            <td>20,216</td>
            <td>20,216</td>
            <td>20,216</td>
          </tr>
          <td>신승</td>
          <td>폐기물</td> 
            
          <td>17,372</td>
          <td>20,216</td>
          <td>16.4%</td>
          <td>20,216</td>
          <td>20,216</td>
          <td>20,216</td>
          <td>20,216</td>
          <td>20,216</td>
          <td>20,216</td>
          <td>20,216</td>
          <td>20,216</td>
        </tr>
    </tbody>
</table>
  

{% endblock %}

{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.min.js"></script>
<script>
  const ctx = document.getElementById('myChart');

  const labels = Utils.months({count: 7});
  
  const data = {
    labels: labels,
    datasets: [{
      label: '모터스',
      data: [65, 59, 80, 81, 56, 55, 40],
      fill: false,
      borderColor: 'rgb(75, 192, 192)',
      tension: 0.1
    },
    {
      label: 'EV',
      data: [63, 52, 80, 35, 7, 35, 65],
      fill: false,
      borderColor: 'rgb(214, 86, 165)',
      tension: 0.1
    }]
  };
  
  new Chart(ctx, {
    type: 'line',
    data: data,
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>
{% endblock %}  