{% extends "base_generic.html" %}
{% load widget_tweaks %}

{% block page_name %}
{{title}}
{% endblock %}

{% block content %}

        <div class="container">
            <div class="row">

            <div class="mt-4">

                <form action="{% url 'request_create' type %}" method="post" class="post-form">
                {% csrf_token %}
                {% if form.errors %}
                    <div class="alert alert-danger" role="alert">
                    {% for field in form %}
                        {% if field.errors %}
                        <strong>{{ field.label }}</strong>
                        {{ field.errors }}
                        {% endif %}
                    {% endfor %}
                    </div>
                {% endif %}
                    <div class="row">
                        <div  class="mt-4">
                                <h6 class="mt-4"><strong>기본정보</strong></h6>

                                <table class="table table-condensed table-bordered text-center">

                                    <tr><td>이름</td><td>{{user.profile.kor_name}} {{user.profile.grade}}</td><td>ID</td><td>{{user.username}}</td></tr>
                                    <tr><td>사번</td><td>{{user.profile.empID}}</td><td>전화번호</td><td>{{user.profile.phone}}</td></tr>
                                    <tr><td>소속회사</td><td>{{user.profile.company}}</td><td>투입프로젝트</td><td>{{user.profile.project}}</td></tr>
                                    <tr><td>투입일자</td><td>{{user.profile.gen_date}}</td><td>철수일자</td><td>{{user.profile.del_date}}</td></tr>
                                    <tr><td>IP</td><td>{{user.profile.ip}}</td><td>VDI IP</td><td>{{user.profile.vdi_ip}}</td></tr>
                                </table>
                            <div class="mt-4">
                                <p>신청을 위해 아래 양식을 작성하여 주시기 바랍니다.</p>
                            </div>
                            <div class="form-group">

                                 <textarea id="summernote" name="memo" value="{{ form.memo.value|default_if_none:'' }}">{{desc|safe}}</textarea>
                            </div>
                            <div class="mt-4">

                                <ul><li><span><b><small>서약 내용 (신청 시 동의)</small></b></span></li></ul>
                                <p style="margin-left: 25px;"><span><small>해당 기간 동안, 신청하여 승인 받은 업무 목적으로만 사용할 것을 서약하며,</small></span></p>
                                <p style="margin-left: 25px;"><span><small>개인정보 및 업무 정보 유출에 대한 책임은 본인에게 있음을 인지하였습니다.</small></span></p>
                                <p style="margin-left: 25px;"><span><small>정보 유출 사고 발생 시 소명의 책임은 본인에게 있으며 사규에 의거 처벌 받을 수 있음을 동의합니다.</small></span></p>

                            </div>
                        </div>
                    </div>
                    <div class="mt-4 mb-0">
                        <div class="d-grid"><button type="submit" class="btn btn-primary">사용 신청</button></div>
                    </div>
                </form>
            </div>
        </div>
        </div>
    <!-- Checkout Section End -->
        <div class="card-footer text-center py-3">
            <div class="small">신청하신 내용은 처리완료 후 메일로 안내됩니다.</div>
        </div>


{% endblock %}