{% extends "base_generic.html" %}


{% block page_name %}
인원철수 신청현황
{% endblock %}
{% block content %}

    <table id="custom_table" class="display nowrap text-center mt-4" style="width:100%">
        <thead>
        <th>요청일자</th><th>처리항목</th><th>투입프로젝트</th><th>철수인원</th><th>소속</th><th>투입일자</th><th>상세</th>
        </thead>
        <tbody>
       {% if mylist %}
            {% for i in mylist %}
        <tr>
            <td>{{i.retiree.ret_date}}</td>
            <td>{{i.code.name}}</td>
            <td>{{i.retiree.project}}</td>
            <td>{{i.retiree.kor_name}} {{i.retiree.grade}}</td>
            <td>{{i.retiree.company}}</td>
            <td>{{i.retiree.gen_date}}</td>
            <td><a href ="{% url 'user' i.retiree.id %}">상세조회</a>

            </td>
            {% endfor %}
        {% else %}
        <tr><td colspan="7" align="center">신청 내역이 없습니다.</td></tr>
        {% endif %}
        </tbody>
    </table>

<div class="mt-3"><input type="button" class="btn btn-outline-primary float-end" value="뒤로" onclick="back()"></div>

{% endblock %}
